@import "./customise";




/*HEADER*/
/*==================================================*/
.navbar{
  font-size: 0;
  &__self{
    background: $menuBg;
    height: 105px;
    border-radius: 0px;
    margin: 0;
  }
  &__part{
    display: inline-block;
    &_left{
      width: 30%;
      height: 100%;
    }
    &_right{
      width: 70%;
      height: 100%;
    }
  }
  &__container{
    height: 100%;
    text-align: right;
    font-size: 0px;
  }
  &__logo{
    padding: 0;
    height: 100%;
    display: inline-block;
    vertical-align: middle;
    float: none;
  }
  &__logoImg{
    height: 100%;
  }
}

.nav > li > a{
  padding: 10px 25px; 
  &:last-child{ 
    padding-right: 0;
  }

}


.nav{
  display: inline-block;
  vertical-align: middle;
  > li{
    display: inline-block;
    vertical-align: middle;
    > a {
      &:hover{
        background-color: none;
        background: none;
        color: $accent;
        text-shadow: 1px 1px 1px rgba(0,0,0,.3);
        transition: all .3s;
      }
    }
  }
  &-link{
    color: #fff;
    display: block;
    font-weight: bold;
    font-size: 16px;
    text-transform: capitalize;
    font-family: 'Open Sans', sans-serif;
  }
}





$w: 30px;
$h: 3px;
$accentSendwich: #b0ed3a;;

/*sendwich*/

.sandwich{
  width: $w;
  height: $w;
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
  margin: 0 15px;
  display: none;
  &:hover{
  .sw-topper,
  .sw-bottom,
  .sw-footer{
    background: $accentSendwich;
  }
  } 
} 


.sw-topper{
  position: relative;
  top: 0;
  width: $w;
  height: $h;
  background: #fff;
  border: none; 
  border-radius: 4px 4px 4px 4px;
  box-shadow: 0 0 6px rgba(0,0,0,.35);
  transition: transform 0.5s, top 0.2s;
   transition-delay: 0.2s, 0s; 
}



.sw-bottom{
  position: relative;
  width: $w;
  height: $h;
  top: $h * 2;
  background: #fff;
  border: none;
  border-radius: 4px 4px 4px 4px;
  box-shadow: 0 0 6px rgba(0,0,0,.35);
  transition: transform 0.5s, top 0.2s;
  transition-delay: 0.2s, 0s; 
}

.sw-footer{

  position: relative;
  width: $w;
  height: $h;
  top: $h * 4;
  background: #fff;
  border: none;
  border-radius: 4px 4px 4px 4px;
  box-shadow: 0 0 6px rgba(0,0,0,.35);
  transition: transform 0.5s;
  transition-delay: .1s; 
}

.sandwich.swich{

  .sw-topper{
  top: 12px;
  transform: rotate(140deg);
  }
  .sw-bottom{
  top: 9px;
  transform: rotate(-140deg);
  }
  .sw-footer{
  opacity: 0;
  top: 0;
  transform: rotate(180deg);
  }
}



 /* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
  


}





/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
.navbar{
  &__self{
    height: 90px;
  }
  &__logo{
    vertical-align: middle;
    float: none;
    text-align: left;
  }
}

.nav{
  &-link{
    font-size: 14px;
  }
}


    


}






/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
  .navbar{
    &__self{
      height: 70px;
    }
    &__logo{
      vertical-align: middle;
      float: none;
      text-align: left;
    }
  }

  .nav{
    position: absolute;
    top: 100%;
    right: 0;
    z-index: 150;
    background: $menuBg;
    display: none;
      width: 200px;
      text-align: center;
    > li{
      display: block;
      > a {
        padding: 10px 20px;
      }
    }
    &-link{
      font-size: 13px;
    }
  }



  // sandwich
  .sandwich{
    display: inline-block;
    vertical-align: middle;
    &:hover{
    .sw-topper,
    .sw-bottom,
    .sw-footer{
      background: $accentSendwich;
    }
    } 
  } 

 
}





/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {

.navbar{
    &__container{
      padding: 0 5px;
    }
    &__self{
      height: 30px;
    }
    &__logo{
      vertical-align: middle;
      float: none;
      text-align: left;
    }
  }


}





/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {



}






/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {




}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {




}




/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
.nav{
  display: inline-block !important;
}


}




/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {



}





 /* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {



}





























