@import "./customise";
@import "../../node_modules/magnific-popup/dist/magnific-popup.css";



/*POPUP*/
/*==================================================*/

.white-popup-block{
  background: #fff;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  position: relative;
  border-radius: 5px;
  box-sizing: border-box;
}
.slide__modalImg{
  width: 100%;
}
.popup-modal-dismiss{
  text-decoration: none !important;
  color: black !important;
  position: absolute;
  top: 5px;
  right: 5px;
  background: #e8e8e8;
  color: #0e0e0e;
  width: 20px;
  height: 20px;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  border-radius: 50%;
  &:hover{
    color: red !important;
  }
}



.reserv{
  &__block{
    background: #fff;
    width: 460px;
    margin-left: auto;
    margin-right: auto;
    padding: 60px 50px;
    position: relative;
    text-align: center;
    border-radius: 5px;
    box-sizing: border-box;
  }
  &__title{
    font-family: 'Open Sans', sans-serif;
    color: #004c40;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 27px;
  }
  &__text{
    font-family: 'Open Sans', sans-serif;
    color: #080808;
    margin: 20px 0 40px 0;
    font-weight: bold;
    font-size: 16px;
  }
  &__inp{
    font-family: 'Open Sans', sans-serif;
    width: 100%;
    margin: 10px 0;
    border-radius: 30px;
    border: none;
    padding: 0 20px;
    box-sizing: border-box;
    font-weight: 300;
    color: #080808;
    font-size: 15px;
    background: #efefef;
    height: 55px;
  }
  &__btn{
    font-family: 'Open Sans', sans-serif;
    width: 100%;
    font-size: 17px;
    font-weight: 800 !important;
  }

}





 /* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {



}




/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {

    


}






/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
.white-popup-block{
  width: 80%;
  padding: 10px;
}



.reserv{
  &__block{
    width: 400px;
    padding: 30px 25px;
  }
  &__title{
    font-weight: bold;
    font-size: 22px;
  }
  &__text{
    margin: 15px 0 30px 0;
    font-weight: bold;
    font-size: 14px;
  }
  &__inp{
    margin: 10px 0;
    padding: 0 20px;
    font-size: 15px;
    height: 45px;
  }
  &__btn{
    height: 45px;
  }
}


}








/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
.white-popup-block{
  width: 90%;
  padding: 5px;
}



.reserv{
  &__block{
    width: 300px;
    padding: 20px 15px;
  }
  &__title{
    font-weight: bold;
    font-size: 20px;
  }
  &__text{
    margin: 10px 0 20px 0;
    font-weight: normal;
    font-size: 14px;
  }
  &__inp{
    margin: 10px 0;
    padding: 0 20px;
    font-size: 15px;
    height: 40px;
  }
  &__btn{
    height: 40px;
    font-size: 15px;
  }
}



}




/* Extra Small Devices, Phones */
@media only screen and (max-width : 360px) {



}




/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {



}






/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {




}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {




}




/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {



}




/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {



}





 /* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {



}





























